
@charset "utf-8";

/*
========================================================================
:: LAYOUT FUNDAMENTALS :::::::::::::::::::::::::::::::::::::::::::::::::
========================================================================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	min-height: 100%;
}

body {
	width: 90%;
	max-width: 1600px;
	margin: auto;
	transition: width 1s ease;
}

.siteheader,
.sitemain,
.sitefooter {
	padding: 0.5em 1em;
}

.sitemain {
	padding-bottom: 2em;
}

.sitefooter {
	padding-top: 1em;
	padding-bottom: 3em;
}

.sitefooter > div {
	max-width: 600px;
}

.stdcontent > * + * {
	margin-top: 0.5em;
}

.stdcontent ul,
.stdcontent ol {
	padding-left: 1.5em;
}

a {
	color: white;
}

@media (max-width: 700px) {
	body {
		width: 100%;
	}
}

/*
========================================================================
:: THEME AND COLORS ::::::::::::::::::::::::::::::::::::::::::::::::::::
========================================================================
*/

html {
	font-family: "VT323", sans-serif;
	color: #b0da6e;
	background: #013a0d;
	background: linear-gradient(-120deg, #496d51, #013a0d);
}

.sitemain, .sitefooter {
	background: rgba(0,0,0, 0.5);
	box-shadow: 3px 6px 12px rgba(0,0,0, 0.15);
}

.sitefooter {
	opacity: 0.6;
}
